**/node_modules/
**/.git
**/npm-debug.log

**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.tox
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/*.log
**/.mypy_cache
**/.pytest_cache
**/.hypothesis
**/.Rhistory
**/.cache
**/.vscode-server
**/.dotnet
**/.gnupg
**/.npm
**/.qodo
**/.bash_history
**/.gitconfig
**/.wget-hsts
**/.docker

**/.devcontainer