*.pyc
**/__pycache__
.idea/
*.DS_Store
envsettings.sh
data/*.csv
internal/*landarea.csv
internal/*population.csv
internal/*.svg
internal/assets/node_modules

data/test*
internal/static/cartdata/test*
internal/handlers/test*