*.pyc
**/__pycache__
.idea/
*.DS_Store
envsettings.sh
data/*.csv
data/test*
internal/*landarea.csv
internal/*population.csv
internal/*.svg
internal/assets/node_modules
internal/static/dist
internal/static/cartdata/test*
.Rproj.user
.Rhistory