*.pyc
**/__pycache__
.idea/
*.DS_Store
envsettings.sh
data/*.csv
internal/*landarea.csv
internal/*population.csv
internal/*.svg
internal/assets/node_modules
internal/handler.py.bak

data/test*
internal/static/cartdata/test*/*
!internal/static/cartdata/test**/mappack.json
!internal/static/cartdata/test**/template.csv
.Rhistory
