We've noticed that you're using outdated share/embed code, which is no longer compatible.
If you have access to your original data, you can regenerate the cartogram <a href="/cartogram">here</a>.
However, if you're unable to do so, please <a href="/contact">reach out to us</a> before the end of December 2024,
providing the share/embed code. We'll try our best to recover your data for you.
Please note that all outdated data will be permanently deleted after the specified date.
We apologize for any inconvenience this may cause.