<!DOCTYPE html>
<html lang="en">

<head>
  <script src="{{ url_for('static', filename='tracking.js') }}"></script>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
  <meta name="description"
    content="Free Cartogram Generator - Make cartograms for different countries using your own data!">
  <meta name="author" content="Michael T. Gastner">
  <meta property="og:title" content="Creating Cartograms Online">
  <meta property="og:description"
    content="Free Cartogram Generator - Make cartograms for different countries using your own data!">
  <meta property="og:site_name" content="go-cart.io">
  <meta name="twitter:title" content="Creating Cartograms Online">
  <meta name="twitter:description"
    content="Free Cartogram Generator - Make cartograms for different countries using your own data!">
  <meta name="twitter:image" content="{{ url_for('static', filename='img/favicon.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

  <title>Creating Cartograms Online</title>

  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

  {% if config['ENV'] == "production" %}
  <link rel="stylesheet" href="/static/dist/{{ asset.url_for('style.css').file }}" />
  {% else %}
  <script type="module" src="{{ asset.webpack_url_for(request.host_url, '@vite/client') }}"></script>
  {% endif %}

  {% block head_extra %}
  {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-md bg-dark py-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='img/gocart_final.svg') }}" width="75" alt="go-cart.io logo" />
      </a>
      <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto" style="margin-right: 50px">
          <li class="nav-item {%if page_active=='maker'%}active{%endif%}">
            <a class="nav-link" href="/cartogram/create">Make Cartogram</a>
          </li>
          <li class="nav-item {%if page_active=='cartogram'%}active{%endif%}">
            <a class="nav-link" href="/cartogram">View Cartogram</a>
          </li>
          <li class="nav-item {%if page_active=='contact'%}active{%endif%}">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="//guides.go-cart.io" target="_blank">Guides</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/go-cart-io/cartogram-web" target="_blank">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}

  <div class="container-fluid text-secondary">
    <footer class="text-secondary">
      &copy;
      <script>document.write(new Date().getFullYear())</script> go-cart.io |
      Algorithm: <a href="https://www.pnas.org/content/115/10/E2156">Gastner et al. (2018)</a> |
      Code{{version}}: <a href="https://mit-license.org/">MIT</a> |
      Generated visualization: <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>
    </footer>
  </div>

  {% if tracking.action == "demand_consent" %}

  <div class="fixed-bottom cookie-consent" id="cookie-consent">
    <div class="container pb-1 pt-3">
      <p class="text-muted text-center">
        This website uses cookies to improve your experience and collect anonymized usage statistics.
        <span class="consent-buttons">
          <button class="ml-2 btn btn-sm btn-primary" onclick="Tracking.consentToTracking()">Accept</button>
          <button class="ml-2 btn btn-sm btn-outline-primary" onclick="Tracking.optOutOfTracking()">Opt Out</button>
          <span class="ml-2"><a href="/cookies">Learn More</a></span>
        </span>
      </p>
    </div>
  </div>

  {% elif tracking.action == "track" %}

  <script>Tracking.beginTracking("{{ tracking.tracking_id }}");</script>

  {% else %}

  {% endif %}

  {% if config['ENV'] == "production" %}
  {% for url in asset.all_cdn_scripts('common') %}
  <script src="{{ url }}"></script>
  {% endfor %}
  {% endif %}

  {% block javascript %}{% endblock %}

</body>

</html>