{% extends 'base_layout.html' %}

{% block content %}

{% if config['ENV'] == "production" %}
<script type="module" src="/static/dist/{{ asset.url_for('src/viewer.ts').file }}"></script>
{% else %}
<script type="module" src="{{ asset.webpack_url_for(request.host_url, 'src/viewer.ts') }}"></script>
{% endif %}

<div id="cartogram-app" class="d-flex flex-column flex-fill">
</div>

{% endblock %}

{% block javascript %}
<script>
  window.CARTOGRAM_CONFIG = {
    mode: null,
    maps: JSON.parse('{{ maps | default({}) | tojson | safe }}'),
    mapName: "{{ map_name }}",
    mapTitle: "{{ map_title }}",
    mapDBKey: "{{ map_data_key }}",
    cartoVersions: JSON.parse('{{ carto_versions | default({}) | tojson | safe }}'),
    cartoColorScheme: "{{ map_color_scheme }}",
    choroVersions: JSON.parse('{{ choro_versions | default({}) | tojson | safe }}'),
    choroSpec: JSON.parse('{{ map_spec | default({}) | tojson | safe }}')
  };
</script>
{% endblock javascript %}