{% extends 'base_layout.html' %}

{% block content %}

<div id="cartogram-app" class="d-flex flex-column flex-fill">
</div>

{% endblock %}

{% block javascript %}
<script>
  window.CARTOGRAM_CONFIG = {
    mode: null,
    maps: JSON.parse('{{ maps | default({}) | tojson | safe }}'),
    mapName: "{{ map_name }}",
    mapTitle: "{{ map_title }}",
    mapDBKey: "{{ map_data_key }}",
    cartoVersions: JSON.parse('{{ carto_versions | default({}) | tojson | safe }}'),
    cartoColorScheme: "{{ map_color_scheme }}",
    choroVersions: JSON.parse('{{ choro_versions | default({}) | tojson | safe }}'),
    choroSpec: JSON.parse('{{ map_spec | default({}) | tojson | safe }}')
  };
</script>
{% endblock javascript %}