{% extends 'base_layout.html' %}

{% block content %}

<div id="cartogram-app" class="d-flex flex-column flex-fill">
</div>

{% endblock %}

{% block javascript %}

{% if config['ENV'] == "production" %}

<script src="{{ asset.cdn_url_for('vue', 'dist/vue.global.prod.js') }}"></script>
<script src="{{ asset.cdn_url_for('d3', 'dist/d3.min.js') }}"></script>
<script src="{{ asset.cdn_url_for('vega', 'build/vega.min.js') }}"></script>
<script src="{{ asset.cdn_url_for('vega-embed', 'build/vega-embed.min.js') }}"></script>
<script src="{{ asset.cdn_url_for('vega-tooltip') }}"></script>
{% set assets = asset.get_vite_assets('src/viewer.ts') %}
{% for js in assets.js %}
<script type="module" src="{{ url_for('static', filename=js) }}"></script>
{% endfor %}

{% else %}
<script type="module" src="{{ asset.webpack_url_for(request.host_url, 'src/viewer.ts') }}"></script>
{% endif %}

<script>
  window.CARTOGRAM_CONFIG = {
    mode: null,
    maps: JSON.parse('{{ maps | default({}) | tojson | safe }}'),
    mapName: "{{ map_name }}",
    mapTitle: "{{ map_title }}",
    mapDBKey: "{{ map_data_key }}",
    cartoVersions: JSON.parse('{{ carto_versions | default({}) | tojson | safe }}'),
    cartoColorScheme: "{{ map_color_scheme }}",
    choroVersions: JSON.parse('{{ choro_versions | default({}) | tojson | safe }}'),
    choroSpec: JSON.parse('{{ map_spec | default({}) | tojson | safe }}')
  };
</script>
{% endblock javascript %}