{% extends 'base_layout.html' %}

{% block content %}

{% if config['ENV'] == "production" %}
<script type="module" src="/static/dist/{{ asset.url_for('src/maker.ts').file }}"></script>
{% else %}
<script type="module" src="{{ asset.webpack_url_for(request.host_url, 'src/maker.ts') }}"></script>
{% endif %}

<div id="cartogram-maker" class="container-fluid">
</div>

{% endblock %}

{% block javascript %}
<script>
	var maps = JSON.parse('{{ maps | default({}) | tojson | safe }}');
	var mapName = "{{ map_name }}";
	var mapTitle = "{{ map_title }}";
	var geoUrl = "{{ geo_url }}";
	var csvUrl = "{{ csv_url }}";
	var mapTypes = JSON.parse('{{ map_types | default({}) | tojson | safe }}');
	var cartoColorScheme = "{{ map_color_scheme }}";
	var choroSettings = JSON.parse('{{ map_settings | default({}) | tojson | safe }}');
</script>
{% endblock javascript %}