captcha==0.5.0
#chardet==3.0.4
Flask==3.0.2
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0
psycopg2-binary==2.9.9
bcrypt==4.3.0
redis==5.0.2
requests==2.31.0
requests-futures==1.0.0 # for lamda package
validate-email==1.3
shapely==2.0.1
Flask-Cors==4.0.0
Flask-Migrate==4.0.5

# Auto install with Flask 
# Jinja2
# MarkupSafe
# Werkzeug
# itsdangerous
# click

# Auto install with Flask-SQLAlchemy
# SQLAlchemy

# Auto install with captcha
# Pillow

# Auto install with requests
# certifi
# idna
# urllib3