Flask==3.1.1
Flask-Cors==6.0.0
Flask-Migrate==4.0.7
Flask-Limiter==3.8.0
Flask-SQLAlchemy==3.1.1
# For site
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10 # Required by SQLAlchemy
redis==6.1.0
types-redis==4.6.0.20241004
gunicorn==23.0.0
validate_email==1.3
captcha==0.6.0
bcrypt==4.3.0
# For cartogram
shapely==2.0.6
geopandas==1.0.1
pandas==2.2.3
mapclassify==2.8.1
libpysal==4.12.1

#alembic==1.13.1
#async-timeout==4.0.3
#certifi==2024.07.04
#charset-normalizer==3.3.2
#greenlet==3.0.3
#idna==3.7
#Mako==1.3.2
#numpy==1.26.4
#packaging==23.2
#pillow==10.3.0
#requests==2.32.0
#requests-futures==1.0.0
#setuptools==70.0.0
#typing_extensions==4.10.0
#urllib3==2.2.2